*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: rgb(33, 32, 32);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup-box{
    display: flex;
    align-items: stretch; /* Yüksekliği eşitlemek için */
    flex-wrap: nowrap; /* Kutuların alt alta düşmesini engellemek için */
    width: 90%;
    max-width: 800px; /* Daha geniş yaparak yan yana sığmasını sağla */
    background-color: white;
}

.left-box{
    padding: 50px;
    background-color: rgb(25, 21, 98);
    flex-basis: 50%;
    flex-grow: 1;
    color: #fff;
}

.right-box{
    padding: 100px;
    flex-basis: 50%;
    flex-grow: 1;
}
/*-----------------------------------*/
